body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: 'DynaPuff', cursive;
    font-family: 'Josefin Sans', sans-serif;
    font-family: 'Nunito', sans-serif;
}
.lucasimg {
    height: 100%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    margin-right: 20%;
}
.card {
    display: grid;
    grid-template-rows: 6rem 3rem 3rem 1rem;
    grid-template-columns: 1fr;
}
.banner {
    grid-row: 1 / 3;
    grid-column: 1 / -1;
}
.bannerimg {
    border-radius: 2%;
    width: 80%;
    height: 100%;
    object-fit: cover;
}
.displaypic {
    grid-row: 2 /4;
    grid-column: 1 / -1;
    padding: 0 1.5rem;
    z-index: 1;
}
.content {
    grid-row: -3 / 10;
    grid-column: 1 / -1;
}
h1{
    font-size: 100%;
    margin-left: 5rem;
}
p {
    font-size: 80%;
    margin-left: 5rem;
}
.redes {
    font-size: 100%;
    margin-right: 5rem;
}
.diviframe {
    overflow: hidden;
}
.htmlas {
    margin: 1rem 20rem;
}
.operac {
    margin: 1rem 20rem;
}
